<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.tangyh.lamp.learnpm.mapper.MsBudgetSubjectMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.tangyh.lamp.learnpm.entity.MsBudgetSubject">
		  <result column="ID" property="id" jdbcType="BIGINT" />
		  <result column="SUBJECT_TYPE" property="subjectType" jdbcType="CHAR" />
		  <result column="SUBJECT_CODE" property="subjectCode" jdbcType="VARCHAR" />
		  <result column="SUBJECT_STATUS" property="subjectStatus" jdbcType="CHAR" />
		  <result column="MS_FIRST_LEVEL_SUBJECT_ID" property="msFirstLevelSubjectId" jdbcType="BIGINT" />
		  <result column="FIRST_SUBJECT_NAME" property="firstSubjectName" jdbcType="VARCHAR" />
		  <result column="MS_SECONDARY_SUBJECT_ID" property="msSecondarySubjectId" jdbcType="BIGINT" />
		  <result column="SECONDARY_SUBJECT_NAME" property="secondarySubjectName" jdbcType="VARCHAR" />
		  <result column="EXTERNAL_QUOTATION" property="externalQuotation" jdbcType="DECIMAL" />
		  <result column="COST_PRICE" property="costPrice" jdbcType="DECIMAL" />
		  <result column="MEETING_TYPE" property="meetingType" jdbcType="CHAR" />
		  <result column="SUBJECT_NAME" property="subjectName" jdbcType="VARCHAR" />
		  <result column="SUBJECT_DESC" property="subjectDesc" jdbcType="VARCHAR" />
		  <result column="UNIT1" property="unit1" jdbcType="VARCHAR" />
		  <result column="UNIT2" property="unit2" jdbcType="VARCHAR" />
		  <result column="IS_IMPLEMENT_EXPENSES" property="isImplementExpenses" jdbcType="CHAR" />
		  <result column="PRICE_SOURCE" property="priceSource" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
      ID,
      SUBJECT_TYPE,
      SUBJECT_CODE,
      SUBJECT_STATUS,
      MS_FIRST_LEVEL_SUBJECT_ID,
      FIRST_SUBJECT_NAME,
      MS_SECONDARY_SUBJECT_ID,
      SECONDARY_SUBJECT_NAME,
      EXTERNAL_QUOTATION,
      COST_PRICE,
      MEETING_TYPE,
      SUBJECT_NAME,
      SUBJECT_DESC,
      UNIT1,
      UNIT2,
      IS_IMPLEMENT_EXPENSES,
      PRICE_SOURCE,
      ATTRIBUTE1,
      ATTRIBUTE2,
      ATTRIBUTE3,
      ATTRIBUTE4,
      ATTRIBUTE5,
      ATTRIBUTE6,
      ATTRIBUTE7,
      ATTRIBUTE8,
      ATTRIBUTE9,
      ATTRIBUTE10,
        created_time,created_by,updated_time,updated_by
    </sql>
</mapper>
