<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.tangyh.lamp.learnpm.mapper.PmMeetingExecutionReqMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.tangyh.lamp.learnpm.entity.PmMeetingExecutionReq">
		  <result column="ID" property="id" jdbcType="BIGINT" />
		  <result column="PM_PROJECT_MEETING_PLANNING_ID" property="pmProjectMeetingPlanningId" jdbcType="BIGINT" />
		  <result column="PROJECT_MEETING_PLANNING_NAME" property="projectMeetingPlanningName" jdbcType="VARCHAR" />
		  <result column="MEETING_EXECUTION_LINK" property="meetingExecutionLink" jdbcType="CHAR" />
		  <result column="ILLUSTRATE" property="illustrate" jdbcType="VARCHAR" />
		  <result column="EXECUTION_MODE" property="executionMode" jdbcType="CHAR" />
		  <result column="UNIT_ID" property="unitId" jdbcType="BIGINT" />
		  <result column="UNIT_NAME" property="unitName" jdbcType="VARCHAR" />
		  <result column="CHARGE_PERSON_ID" property="chargePersonId" jdbcType="BIGINT" />
		  <result column="CHARGE_PERSON_NAME" property="chargePersonName" jdbcType="VARCHAR" />
		  <result column="CHARGE_PHONE" property="chargePhone" jdbcType="CHAR" />
		  <result column="REMARK" property="remark" jdbcType="VARCHAR" />
		  <result column="MEETING_RANGE" property="meetingRange" jdbcType="CHAR" />
		  <result column="IS_VIEWING_CONDITIONS" property="isViewingConditions" jdbcType="CHAR" />
		  <result column="FILL_INFO_CONTENT_REQ" property="fillInfoContentReq" jdbcType="CHAR" />
		  <result column="IS_FILL_NAME" property="isFillName" jdbcType="CHAR" />
		  <result column="IS_FILL_PHONE" property="isFillPhone" jdbcType="CHAR" />
		  <result column="DOCTOR_CERTIFICATE" property="doctorCertificate" jdbcType="CHAR" />
		  <result column="IS_FILL_HOSPITAL" property="isFillHospital" jdbcType="CHAR" />
		  <result column="IS_FILL_DEPARTMENT" property="isFillDepartment" jdbcType="CHAR" />
		  <result column="IS_FILL_POST" property="isFillPost" jdbcType="CHAR" />
		  <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
      ID,
      PM_PROJECT_MEETING_PLANNING_ID,
      PROJECT_MEETING_PLANNING_NAME,
      MEETING_EXECUTION_LINK,
      ILLUSTRATE,
      EXECUTION_MODE,
      UNIT_ID,
      UNIT_NAME,
      CHARGE_PERSON_ID,
      CHARGE_PERSON_NAME,
      CHARGE_PHONE,
      REMARK,
      MEETING_RANGE,
      IS_VIEWING_CONDITIONS,
      FILL_INFO_CONTENT_REQ,
      IS_FILL_NAME,
      IS_FILL_PHONE,
      DOCTOR_CERTIFICATE,
      IS_FILL_HOSPITAL,
      IS_FILL_DEPARTMENT,
      IS_FILL_POST,
      ATTRIBUTE1,
      ATTRIBUTE2,
      ATTRIBUTE3,
      ATTRIBUTE4,
      ATTRIBUTE5,
      ATTRIBUTE6,
      ATTRIBUTE7,
      ATTRIBUTE8,
      ATTRIBUTE9,
      ATTRIBUTE10,
        created_time,created_by,updated_time,updated_by
    </sql>
</mapper>
