<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.tangyh.lamp.learnpm.mapper.PmProcessPhaseConfMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.tangyh.lamp.learnpm.entity.PmProcessPhaseConf">
		  <result column="ID" property="id" jdbcType="BIGINT" />
		  <result column="PM_APPROVAL_PROCESS_CONFIG_ID" property="pmApprovalProcessConfigId" jdbcType="BIGINT" />
		  <result column="NODE_TYPE_CODE" property="nodeTypeCode" jdbcType="CHAR" />
		  <result column="LINK_SEQUENCE" property="linkSequence" jdbcType="INTEGER" />
		  <result column="APPROVER_TYPE" property="approverType" jdbcType="CHAR" />
		  <result column="APPROVER_NAME" property="approverName" jdbcType="VARCHAR" />
		  <result column="APPROVER_ID" property="approverId" jdbcType="BIGINT" />
		  <result column="IS_ALLOW_TRANSFER_APPROVAL" property="isAllowTransferApproval" jdbcType="CHAR" />
		  <result column="IS_END" property="isEnd" jdbcType="CHAR" />
		  <result column="IS_VALID" property="isValid" jdbcType="CHAR" />
		  <result column="ROLE_CODE" property="roleCode" jdbcType="CHAR" />
		  <result column="BACK_NODE_ID" property="backNodeId" jdbcType="BIGINT" />
		  <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR" />
		  <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
      ID,
      PM_APPROVAL_PROCESS_CONFIG_ID,
      NODE_TYPE_CODE,
      LINK_SEQUENCE,
      APPROVER_TYPE,
      APPROVER_NAME,
      APPROVER_ID,
      IS_ALLOW_TRANSFER_APPROVAL,
      IS_END,
      IS_VALID,
      ROLE_CODE,
      BACK_NODE_ID,
      ATTRIBUTE1,
      ATTRIBUTE2,
      ATTRIBUTE3,
      ATTRIBUTE4,
      ATTRIBUTE5,
      ATTRIBUTE6,
      ATTRIBUTE7,
      ATTRIBUTE8,
      ATTRIBUTE9,
      ATTRIBUTE10,
        created_time,created_by,updated_time,updated_by
    </sql>

    <select id="selectLinkSequence" resultType="integer">
        select LINK_SEQUENCE
        FROM PM_PROCESS_PHASE_CONF
        where PM_APPROVAL_PROCESS_CONFIG_ID = #{ProcessId}
    </select>

    <select id="selectEndNode" resultType="string">
        select IS_END
        from PM_PROCESS_PHASE_CONF
        where PM_APPROVAL_PROCESS_CONFIG_ID = #{ProcessId}
    </select>
</mapper>
